#wrapper{
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: aquamarine;
    border: 1em black;
    border-radius: 5%;
    display: grid;
}
img{
    width:40%;
    border: 0.2em solid red ;

}

.column{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* border: 0.5em dotted green; */
}